.form-input-password {
  display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.password-window {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #83B4FF;
  border-radius: 10px;
  padding: 15px 20px;
}
  
.label-password {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #393939;
  margin-bottom: 5px;
  width: 100%;
}
  
  .input-password {
    border: none;
    outline: none;
    width: 100%;
  }
  
  .input-password:focus {
    border: none;
  }
  
  .password-window:focus {
    border: 1px solid #3D8AFF;
  }
  
  .password_icon {
    border: none;
    background-color: white;
    background-image: url('../../assets/password_hide.png');
    background-repeat: no-repeat;
    width: 25px;
    height: 20px;
  }
  
  .password_icon-isShow {
    border: none;
    background-color: white;
    background-image: url('../../assets/password_show.png');
    background-repeat: no-repeat;
    width: 25px;
    height: 20px;
  }